* {
    all: unset; //Unsets everything so you can style everything from scratch
    background-color: #3a3a3a;
    color: #b0b4bc;
    border-bottom-left-radius: 20px;
}

//Global Styles
.bar {
    border-bottom-left-radius: 20px;
    background-color: #3a3a3a;
    color: #b0b4bc;
    padding: 10px;
}

.workspaces button:hover {
  color: #D35D6E;
}
